 @charset "UTF-8";
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* Estilos básicos para o formulário */
 body {
     font-family: sans-serif;
     padding: 20px;
 }

 form {
     max-width: 400px;
     margin: auto;
     border: 1px solid #ccc;
     padding: 20px;
     border-radius: 8px;
 }

 label,
 input {
     display: block;
     margin-bottom: 10px;
 }

 input {
     width: 100%;
     padding: 8px;
     box-sizing: border-box;
 }

 button {
     padding: 10px 15px;
     background-color: #007bff;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }